 body {
     font-family: Sans-Serif;
     /* white-space: pre-line;
    vertical-align: bottom; */
     font-weight: 300;
     padding: 0;
     margin: 0;
     /* background-color: aqua; */
 }

 a {
     text-decoration: none;
 }

 p {
     margin: 0;
     padding: 0;
 }

 ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
 }

 .add-bottom {
     margin-bottom: 100px;
 }

 .textAlign {
     text-align: center;
 }

 ul li {
     padding: 0;
     margin: 0;
 }

 .banner-container {
     padding-bottom: 12px;
     margin-bottom: 10px;
     background-color: rgb(227, 226, 226);
 }

 .main-container {
     position: relative;
 }

 .social-media-link ul {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     list-style-type: none;
     padding: 0;
     margin: 0;
 }

 .asiaone-logo {
     position: absolute;
     font-weight: 800;
     padding: 15px;
 }

 .about-harley {
     padding: 20px;
 }

 .about-asiaone {
     padding: 20px;
 }

 .bg-image {
     width: 100%;
 }

 .nav {
     position: fixed;
     width: 100%;
     /* height: 300px; */
     top: 0;
     left: 0;
     /* background-color: yellow; */
     z-index: 99;
     display: flex;
     /* align-items: center; */
     /* justify-content: flex-end; */
 }

 .nav-button {
     position: absolute;
     top: 0;
     right: 0;
     padding: 20px;
     cursor: pointer;
     display: flex;
     align-self: flex-end;
 }

 .menu {
     position: absolute;
     padding-top: 60px;
     padding-bottom: 120px;
     width: 100%;
     display: flex;
     /* align-items: center; */
     justify-content: center;
     background-color: rgba(0, 0, 0, 0.8);
 }

 li.separator {
     border-bottom: 0.5px solid rgb(216, 216, 216);
 }

 li.separator-vertical {
     border-right: 1px solid white;
 }


 .newline-text {
     white-space: pre-line;
     vertical-align: bottom;
 }

 .intro {
     color: #5c4f32;
     text-align: center;
 }

 .button {
     cursor: pointer;
 }

 .banner {
     position: absolute;
     margin: auto;
     width: 100%;
     color: white;
     height: calc(100% - 10px);
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .banner-title {
     font-size: 37px;
     font-weight: 700;
     text-transform: uppercase;
     /* border: 5px solid greenyellow; */
     text-align: center;
     padding: 0;
 }

 .extended-container {
     position: relative;
     margin: 0px;
     padding: 0px;
     display: flex;
     justify-content: center;
     align-items: center;
     /* border: 2px solid red; */
 }

 .about-asiaone .copyright {
     padding-top: 24px;
     padding-bottom: 5px;
     font-size: 11px;
     color: #FF6D00;
     font-weight: 600;
 }

 .about-asiaone .copyright .registeredTo {
     color: white;
 }


 /* Desktop styles */
 @media screen and (min-width: 768px) {
    .nav-button {
        padding: 10px;
    }

    .menu-image{
        width: 18px;
    }

    .menu-cross-image {
        padding: 10px;
        width: 30px;
    }

     .intro {
         padding: 10px 15px 30px 15px;
         font-weight: 600;
         font-size: 13px;
     }

     .social-media-link ul {
         padding: 8px 0px 5px 0px;
     }

     .social-media-link ul li {
         padding: 3px;
     }

     .socialButton {
         width: 18px;
     }

     .asiaone-logo img {
         width: 34px;
     }

     .section-title {
         padding: 10px 0px 10px 0px;
         text-transform: uppercase;
         color: #867954;
         font-weight: bold;
         font-size: 13px;
         text-align: left;
     }

     .menu ul {
         margin: 0;
         padding: 0;
         width: 340px;
     }

     .menu ul li {
         list-style-type: none;
         margin: 0;
         padding: 25px 0px 25px 0px;
         color: white;
         font-size: 12px;
         font-weight: 500;
         text-align: left;
         cursor: pointer;
     }

     .banner-logo-title {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         padding: 30px;
         padding-top: 0;
     }

     .banner-logo {
         width: 77px;
         padding: 30px;
         padding-top: 0;
         padding-bottom: 15px;
     }

     .container {
         margin: auto 210px;
         display: flex;
         flex-direction: column;
         justify-content: center;
         /* align-items: center; */
         padding-bottom: 20px;
     }

     .image {
         float: left;
         padding: 0px 15px 0px 5px;
         width: 50%;
         height: auto;
     }

     .text {
         text-align: justify;
         font-size: 13px;
         line-height: 14pt;
     }


     .container-content {
         position: absolute;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 100%;
     }

     .container-content p {
         font-size: 16px;
         font-weight: 600;
         color: white;
         padding: 15px;
         padding-top: 0px;
         text-align: center;
     }

     .button {
         padding: 7px 20px 7px 20px;
         background-color: #5C5646;
         color: white;
         font-size: 13px;
         font-weight: 600;
         border-radius: 8px;
     }

     .parallax-text {
         position: absolute;
         margin: auto;
         padding: 30px;
         padding-right: 20%;
         left: 50%;
         color: white;
         /* border: 2px solid blue; */
         height: calc(100% - 60px);
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 15px;
         font-weight: 400;
     }

     .image-fit {
         width: 100%;
         /* border: 2px solid red; */
     }

     .women-image {
         width: 100%;
     }



     /* Quote */
     .quote {
         display: flex;
         flex-direction: row;
         width: 85%;
         padding: 20px;
     }

     .quote-person-container {
         align-self: center;
     }

     .quote-person {
         width: 86px;
         /* padding: 5px; */
     }

     .quote .content {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
     }

     .quote .content img {
         width: 30px;
         /* height: auto; */
         align-self: flex-start;
         padding: 5px;
     }

     .quote .content .text {
         text-transform: uppercase;
         /* font-family: Helvetica, Arial, Sans-Serif; */
         color: #a2956d;
         font-size: 10px;
         line-height: 13px;
         text-align: left;
         font-weight: 800;
     }

     /* About AsiaOne */
     .about-asiaone {
         display: flex;
         width: 100%;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         background-color: black;
         color: #FF6D00;
     }


     .about-asiaone img {
         width: 200px;
         padding: 20px;
         padding-top: 20px;
     }

     .about-asiaone ul {
         display: flex;
         /* justify-content: center; */
         /* align-items: center; */
     }

     .about-asiaone ul li {
         font-size: 13px;
         font-weight: 600;
         padding: 0px 24px 0px 24px;
     }
 }

 /* Mobile styles */
 @media screen and (max-width: 767px) {

    .nav-button {
        padding: 15px;
    }

    .menu-image{
        width: 30px;
    }

    .menu-cross-image {
        padding: 10px;
        width: 50px;
    }

     .intro {
         padding: 10px 15px 30px 15px;
         font-weight: 600;
         font-size: 18px;
     }

     .socialButton {
         width: 30px;
     }

     .button {
         padding: 13px 30px 13px 30px;
         background-color: #5C5646;
         color: white;
         font-size: 21px;
         font-weight: 600;
         border-radius: 8px;
     }

     .asiaone-logo img {
         width: 50px;
     }

     .section-title {
         padding: 10px 0px 10px 0px;
         text-transform: uppercase;
         color: #867954;
         font-weight: bold;
         font-size: 21px;
         text-align: left;
     }

     .menu {
        padding-top: 80px;
     }

     .menu ul {
         margin: 0;
         padding: 0;
         width: 380px;
     }

     .menu ul li {
         list-style-type: none;
         margin: 0;
         padding: 25px 0px 25px 0px;
         color: white;
         font-size: 25px;
         font-weight: 500;
         text-align: left;
         cursor: pointer;
     }

     .banner-logo-title {
         position: absolute;
         display: flex;
         flex-direction: column;
         justify-content: flex-end;
         align-items: center;
         padding: 30px;
         padding-top: 0;
         top: 50%;
     }

     .banner-logo {
         margin: 0;
         width: 110px;
         padding: 30px;
         padding-bottom: 20px;
     }

     .container {
         margin: auto 50px;
         padding-bottom: 20px;
     }

     .image {
         width: 100%;
         height: auto;
         padding: 0;
     }

     .text {
         width: 100%;
         margin-top: 10px;
     }

     .image-fit {
         height: 100vh;
         width: 100%;
         object-fit: cover;
     }

     .women-image {
         width: 100%;
     }

     .quote {
         display: flex;
         flex-direction: column;
         padding: 20px;
         padding-bottom: 0;
     }

     .quote-image {
         float: left;
     }

     .quote-person-container {
         align-self: center;
     }

     .quote-person {
         padding: 40px;
         width: 80%;
     }

     .quote .content {
         position: relative;
         float: left;
         top: -80px;
     }

     .quote .content .text {
         text-transform: uppercase;
         font-family: Helvetica, Arial, Sans-Serif;
         color: #857E6B;
         font-size: 25px;
         font-weight: 600;
     }

     .parallax-text {
         position: absolute;
         margin: auto;
         padding: 80px;
         padding-right: 15%;
         color: white;
         height: calc(100% - 60px);
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 30px;
         line-height: 40px;
         font-weight: 600;
     }

     .about-asiaone {
         display: flex;
         width: 100%;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         background-color: black;
         color: #FF6D00;
     }

     .about-asiaone img {
         width: 200px;
         padding: 20px;
         padding-top: 20px;
     }

     .about-asiaone ul {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }

     .about-asiaone ul li {
         font-size: 13px;
         font-weight: 600;
         padding: 5px;
     }

     .container-content {
         position: absolute;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 100%;
     }

     .container-content p {
         font-size: 24px;
         font-weight: 600;
         color: white;
         padding: 20px;
         padding-top: 10px;
         text-align: center;
     }

     .social-media-link ul {
         padding: 8px 0px 0px 0px;
     }

     .social-media-link ul li {
         padding: 3px;
     }

 }